.popup-profile__group{
    position: relative;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 148px;
    width: 36.4%;
    height: 370px;
    margin-left: 56px;
}

@media screen and (max-width: 768px) {
    .popup-profile__group{
        height: 230px;
        top: 100px;
    }
}

@media screen and (max-width: 320px) {
    .popup-profile__group{
        height: 200px;
        width: 60%;
        margin-left: 23px;
    }
}