.profile__image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 768px) {
    .Profile__image{
        max-width: 80%;
    }
}

@media screen and (max-width: 320px) {
    .Profile__image{
        max-width: 50%;
    }
}