.popup-image-profile__text{
    margin-top: 8%;
    color: black;
    width: 76.5%;
    height: 7%;
    margin-right: 32px;
    font-size: 24px;
  }
  
  @media screen and (max-width: 768px) {
    .popup-image-profile__text{
        font-size: 15px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .popup-image-profile__text{
        font-size: 10px;
        margin-right: 12px;
    }
  }