.profile__into{
    margin-top: 18px;
    position: relative;
    width: 46.8%;
    height: 64%;
    margin-left: 3.4%;
}

@media screen and (max-width: 320px) {
    .profile__into{
        width: 60%;
        height: 53px;
        margin-top: 0;
    }
}