.popup-profile__icon-close{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    top:0px;
    margin-top: 0;
    height: 11%;
    width: 9%;
    font-size: 6.5vw;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    transform: rotate(45deg);
}

.popup-profile__icon-close:hover{
   color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}