.header{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 69%;
    height: 74px;
}


@media screen and (max-width: 320px) {
    .header{
        width: 75%;
        height: 46px;
    }
}
